@font-face {
    font-family: 'MontBlack';
    src: url(fonts/Montserrat-Black.otf);
}
@font-face {
    font-family: 'MontBlackItalic';
    src: url(fonts/Montserrat-BlackItalic.otf);
}
@font-face {
    font-family: 'MontBold';
    src: url(fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: 'MontBoldItalic';
    src: url(fonts/Montserrat-BoldItalic.otf);
}
@font-face {
    font-family: 'MontExtraBold';
    src: url(fonts/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: 'MontExtraBoldItalic';
    src: url(fonts/Montserrat-ExtraBoldItalic.otf);
}
@font-face {
    font-family: 'MontExtraLight';
    src: url(fonts/Montserrat-ExtraLight.otf);
}
@font-face {
    font-family: 'MontExtraLightItalic';
    src: url(fonts/Montserrat-ExtraLightItalic.otf);
}
@font-face {
    font-family: 'MontItalic';
    src: url(fonts/Montserrat-Italic.otf);
}
@font-face {
    font-family: 'MontLight';
    src: url(fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: 'MontLightItalic';
    src: url(fonts/Montserrat-LightItalic.otf);
}
@font-face {
    font-family: 'MontMedium';
    src: url(fonts/Montserrat-Medium.otf);
}
@font-face {
    font-family: 'MontMediumItalic';
    src: url(fonts/Montserrat-MediumItalic.otf);
}
@font-face {
    font-family: 'MontRegular';
    src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: 'MontSemiBold';
    src: url(fonts/Montserrat-SemiBold.otf);
}
@font-face {
    font-family: 'MontSemiBoldItalic';
    src: url(fonts/Montserrat-SemiBoldItalic.otf);
}
@font-face {
    font-family: 'MontThin';
    src: url(fonts/Montserrat-Thin.otf);
}
@font-face {
    font-family: 'MontThinItalic';
    src: url(fonts/Montserrat-ThinItalic.otf);
}
@font-face {
    font-family: 'MontAlternatesBlack';
    src: url(fonts/MontserratAlternates-Black.otf);
}
@font-face {
    font-family: 'MontAlternatesBlackItalic';
    src: url(fonts/MontserratAlternates-BlackItalic.otf);
}
@font-face {
    font-family: 'MontAlternatesBold';
    src: url(fonts/MontserratAlternates-Bold.otf);
}
@font-face {
    font-family: 'MontAlternatesBoldItalic';
    src: url(fonts/MontserratAlternates-BoldItalic.otf);
}
@font-face {
    font-family: 'MontAlternatesExtraBold';
    src: url(fonts/MontserratAlternates-ExtraBold.otf);
}
@font-face {
    font-family: 'MontAlternatesExtraBoldItalic';
    src: url(fonts/MontserratAlternates-ExtraBoldItalic.otf);
}
@font-face {
    font-family: 'MontAlternatesExtraLight';
    src: url(fonts/MontserratAlternates-ExtraLight.otf);
}
@font-face {
    font-family: 'MontAlternatesExtraLightItalic';
    src: url(fonts/MontserratAlternates-ExtraLightItalic.otf);
}
@font-face {
    font-family: 'MontAlternatesItalic';
    src: url(fonts/MontserratAlternates-Italic.otf);
}
@font-face {
    font-family: 'MontAlternatesLight';
    src: url(fonts/MontserratAlternates-Light.otf);
}
@font-face {
    font-family: 'MontAlternatesLightItalic';
    src: url(fonts/MontserratAlternates-LightItalic.otf);
}
@font-face {
    font-family: 'MontAlternatesMedium';
    src: url(fonts/MontserratAlternates-Medium.otf);
}
@font-face {
    font-family: 'MontAlternatesMediumItalic';
    src: url(fonts/MontserratAlternates-MediumItalic.otf);
}
@font-face {
    font-family: 'MontAlternatesRegular';
    src: url(fonts/MontserratAlternates-Regular.otf);
}
@font-face {
    font-family: 'MontAlternatesSemiBold';
    src: url(fonts/MontserratAlternates-SemiBold.otf);
}
@font-face {
    font-family: 'MontAlternatesSemiBoldItalic';
    src: url(fonts/MontserratAlternates-SemiBoldItalic.otf);
}
@font-face {
    font-family: 'MontAlternatesThin';
    src: url(fonts/MontserratAlternates-Thin.otf);
}
@font-face {
    font-family: 'MontAlternatesThinItalic';
    src: url(fonts/MontserratAlternates-ThinItalic.otf);
}

*{
    box-sizing:border-box;
    font-family: 'MontItalic';
}
html, body{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(asstes/2149776042.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.spinner{
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    animation: rotate-center 2s linear infinite;
    z-index: 3;
    background-color: #000000;
    opacity: 0.7;
}
.spinner1{
    width: 30%;
    max-width: 320px;
    min-width: 220px;
    aspect-ratio: 1;
    border-radius: 50%;
    border-top: solid 5px #daa520;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px #daa520;
    position: absolute;
    animation: rotate-center 2s linear infinite;
    z-index: 3;
}
@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
.text-container{
    width: 20%;
    min-width: 150px;
    max-width: 250px;
    text-align: center;
    color: whitesmoke;
    z-index: 4;
}
.text-container p span{
    color: goldenrod;
    font-weight:900;
}
.text-container p{
    font-family: MontRegular;
}
